body{
	background: url(https://wallpapercave.com/wp/wp2182299.jpg); ; 
	background-size: cover;
}
h1{
	color: white;
	font-family: 'Fugaz One', cursive;
	font-size: 50px;
	margin: 0 0 2% 1.66%;
	width: 30%;
	height: 1%;
	padding: 0 0 0 0;
	border-bottom: 2px solid white;
}
img{
	width: 30%;
	float: left;
	margin: 1.66%;
}